<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="col s12 m6 input-field">
                <input id="mid" type="text" ng-model="mid" class="validate">
                <label for="mid">Miracle ID</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 input-field">
                <input id="password" type="password" ng-model="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <button class="btn waves-effect waves-light" ng-click="login()" name="action">Login
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
